
body {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
}

.button {
  width: 100px;
  height: 34px;
  border: none;
  background: #f67e7d;
  text-align: top;



  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 12px;


}
.nameterm {
  width: 40%;
  border: 2px solid #edeff5;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}


.bodycopy {

font-family: arial;	
font-size:18px;
color: #000;
}

